<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Wiseliving Cañada" >
    <meta property="og:url" content="https://wiseliving.com.mx" >
    <meta property="og:description" content="Un concepto de vida integral en un espacio vanguardista." >
    <meta property="og:img" content="./img/home/welcome.jpg" >
    <meta property="og:type" content="website" >
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="App"></div>
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                facebook: "1514299642216274", // Facebook page ID
                whatsapp: "+52 1 442 112 2601", // WhatsApp number
                company_logo_url: "//storage.whatshelp.io/widget/d9/d906/d90656cf3609fe47648cbcfc517e1262/29468027_1911196982526536_3501551213918428471_n.jpg", // URL of company logo (png, jpg, gif)
                greeting_message: "Hola, estamos para ayudarte. ", // Text of greeting message
                call_to_action: "¡Contáctanos!", // Call to action
                button_color: "#129BF4", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "facebook,whatsapp", // Order of buttons
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /WhatsHelp.io widget -->
    <!-- ShareThis Widget -->
    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5b1f07af73e0f2001144840a&product=sticky-share-buttons"></script>
    <!-- End ShareThis Widget -->
</body>
</html>