@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700');

// Variables
$mainColor: #5b5854;
$lighterBrown: #eae9e3;
$responsiveOptionShade: #dbdad4;
$lightGrey: #eee;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    color: $mainColor;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

// Helpers
%font14 {
    font-size: 1.4rem;
}

%font18 {
    font-size: 1.8rem;
}

%font22 {
    font-size: 2.2rem;
}

%font27 {
    font-size: 2.7rem;
}

%font33 {
    font-size: 3.3rem;
}

%baseContentPadding {
    padding: 0 6vw;
}

.Button {
    background: #fff;
    padding: 20px 60px;
    letter-spacing: 1px;
    border: 1px solid $mainColor;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 300;
    color: $mainColor;
    @extend %font14;

    &:hover {
        color: #fff;
        background: $mainColor;
    }
}

.TextHighlight {
    font-weight: 700;
}

.Menu {
    width: 100vw;
    height: 18vh;
    display: flex;
    align-items: center;
    position: fixed;
    background: #fff;
    z-index: 100;
    @extend %baseContentPadding;

    &-left {
        flex-basis: 23%;

        & > img {
            max-width: 80%;
        }
    }

    &-right {
        flex-basis: 77%;

        &--responsive {
            display: none;
        }
    }

    &-nav {
        &-list {
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            color: $mainColor;
            @extend %font14;
        }

        &-option {
            padding: 17px;
            transition: .3s ease;

            &--contact {
                border: 1px solid;
                cursor: pointer;
            }

            &:hover, &--current {
                font-weight: 700;
                transform: scale(1.1);
            }
        }
    }
}

.MenuResponsive {
    display: none;
}

.Welcome {
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    @extend %baseContentPadding;

    &-text {
        padding: 17px;
        margin-bottom: 12vh;
        font-weight: 300;
        background: $lighterBrown;
        color: $mainColor;
        @extend %font18;
    }

    &-button {
        margin-bottom: 4vh;
        justify-self: flex-end;
    }

    &-icon {
        margin-bottom: 5vh;
        cursor: pointer;
        transition: .5s ease;
        pointer-events: all;

        &:hover {
            transform: translateY(10px);
        }
    }

    &-chevron {
        width: 35px;
        height: 35px;
        background-position: center;
        pointer-events: none;
        background-size: cover;
    }
}

.Location {
    width: 100vw;
    padding-top: 12vh;
    padding-bottom: 12vh;

    &-top {
        width: 100%;
        display: flex;
        align-items: flex-start;
        @extend %baseContentPadding;
        padding-bottom: 12vh;
        color: $mainColor;

        &-left {
            flex-basis: 40%;
        }

        &-right {
            flex-basis: 60%;
        }

        &-title {
            font-weight: 700;
            line-height: 2;
            padding-right: 4%;
            @extend %font22;
        }

        &-text {
            line-height: 2;
            padding-left: 10%;
            @extend %font14;
        }
    }

    &-bottom {
        width: 100%;

        &-button {
            font-size: 1.8rem;
            margin: 5vh auto 0;
            display: block;
            width: 50vw;
            text-align: center;
        }
    }
}

.Towers {
    width: 100vw;
    background: $lighterBrown;
    padding: 7vh 0;

    &--whiteBg {
        background: #fff;
    }

    &-container {
        @extend %baseContentPadding;
    }

    &-title {
        font-weight: 700;
        margin-bottom: 5vh;
        @extend %font27;
    }

    &-subtitle {
        font-weight: 300;
        text-align: center;
        margin-bottom: 5vh;
        @extend %font22;
    }

    &-show {
        display: flex;
        justify-content: space-between;
    }
}

.TowersSingle {
    flex-basis: 45%;

    &-image {
        width: 100%;
        height: 45vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 5vh;
    }

    &-title {
        font-weight: 700;
        line-height: 2;
        margin-bottom: 4vh;
        @extend %font14;
    }

    &-text {
        margin-bottom: 6vh;
        line-height: 2;
        @extend %font14;
    }

    &-button {
        background: transparent;
        margin: auto;
        display: block;
        width: 67%;
        text-align: center;
    }
}

.Amenities {
    width: 100vw;
    padding: 8vh 0;
    background: $lighterBrown;

    &--whiteBg {
        background: #fff;
    }

    &-container {
        @extend %baseContentPadding;
    }

    &-title {
        margin-bottom: 4vh;
        @extend %font27;
    }

    &-subtitle {
        margin-bottom: 4vh;
        text-align: center;
        @extend %font22;
    }

    &-text {
        margin-bottom: 10vh;
        @extend %font14;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: inside;
        @extend %font14;

        &-group {
            flex-basis: 33%;
            margin-bottom: 3vh;
        }

        &-option {
            flex-basis: 33%;
            margin-bottom: 3vh;
        }
    }

    &-button {
        background: transparent;
        display: block;
        margin: auto;
        width: 50vw;
        text-align: center;
    }
}

.SlideShow {
    width: 100vw;
    height: 53vh;
    overflow: hidden;
    margin: 10vh 0;

    &-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    &-single {
        display: inline-block;
        flex-basis: 33vw;
        min-width: 33%;
        height: 53vh;
        background-position: center;
        background-size: cover;
        margin: 0 1.5vw;
    }
}

.Characteristics {
    width: 100vw;
    margin: 8vh 0;
    display: flex;
    justify-content: space-between;
    @extend %baseContentPadding;

    & > div {
        flex-basis: 42%;
    }

    &-title {
        font-weight: 700;
        margin-bottom: 10vh;
        @extend %font27;
    }

    &-image {
        width: 100%;
        height: 52vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 5vh;
    }

    &-subtitle {
        margin-bottom: 5vh;
        font-weight: 700;
        @extend %font14;
    }

    &-text {
        margin-bottom: 5vh;
        line-height: 2;
        @extend %font14;
    }

    &-button {
        display: block;
        margin: auto;
        width: 68%;
        text-align: center;
    }
}

.Gallery {
    width: 100vw;
    margin: 12vh 0;
    @extend %baseContentPadding;

    &-title {
        font-weight: 700;
        margin-bottom: 12vh;
        text-align: center;
        @extend %font27;
    }

    &-container {
        display: flex;
        justify-content: space-between;
    }
}

.GallerySingle {
    flex-basis: 31%; 

    &-image {
        width: 100%;
        height: 53vh;
        margin-bottom: 5vh;
        background-position: center;
        background-size: cover;
    }

    &-text {
        line-height: 2;
        margin-bottom: 5vh;
        text-align: center;
        @extend %font14;
    }

    &-button {
        width: 100%;
        display: block;
        text-align: center;
        @extend %font14;
    }
}

.Instagram {
    width: 100vw;
    @extend %baseContentPadding;

    &-title {
        text-align: center;
        font-weight: 700;
        margin-bottom: 3vh;
        @extend %font27;
    }

    &--extraMarginTop {
        margin-top: 15vh;
    }

    &-icon {
        display: block;
        font-size: 50px;
        margin: auto;
        color: $mainColor;
    }

    &-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 8vh 0;
    }

    &-single {
        flex-basis: 24%;
        height: 35vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 2vh;
    }
}

.Contact {
    width: 100vw;
    margin-bottom: 16vh;
    position: relative;
    @extend %baseContentPadding;

    &-title {
        text-align: center;
        line-height: 2;
        margin-bottom: 5vh;
        @extend %font27;
    }

    &-form {
        width: 100%;

        &-group {
            display: flex;
            justify-content: space-between;
            margin: 3vh 0;
            flex-wrap: wrap;

            > :last-child {
                flex-basis: 100%;
            }
        }

        &-submit {
            display: flex;
            justify-content: space-around;
            margin-top: 5vh;

            & > button {
                flex-basis: 35%;
            }
        }

        &-schedule {
            background: $lightGrey;
            border: 1px solid $lightGrey;
            flex-basis: 32%;
        }
    }

    &-input {
        width: 100%;
        padding: 3vh;
        letter-spacing: 1px;
        border: 1px solid $mainColor;
        @extend %font14;

        &-half {
            flex-basis: 32%;
        }

        &-area {
            height: 32vh;
            resize: none;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 5vh;
            @extend %font14;
        }

        &--error {
            border: 1px solid red;
        }
    }

    & .react-datepicker-wrapper {
        width: 100%;
        margin-top: 5vh;
        cursor: pointer;
        display: none;

        &--activated{
            display: block;
        }
    }

    & .react-datepicker__input-container {
        width: 100%;
        margin-top: 3vh;
        display: none;

        & .Contact-input {
            text-align: center;
            color: $mainColor;
        }

        &--activated {
            display: block;
        }
    }

    & .react-datepicker-popper {
        top: 0;
        right: 0;
        left: 0;
        max-width: 88vw;
    }

    & .react-datepicker {
        width: 100%;
        @extend %font14;
    }

    & .react-datepicker__month-container {
        width: 100%;
    }

    & .react-datepicker__day-name {
        width: 14%;
        color: $mainColor;
    }

    & .react-datepicker__month-container {
        float: none;
    }

    & .react-datepicker__time-container {
        float: none;
        width: 100%;
        height: 25vh;
        overflow: hidden;

        & .react-datepicker__time .react-datepicker__time-box
        {
            width: 100%;

            & .react-datepicker__time-list {
                padding-right: 0;

                & .react-datepicker__time-list-item:hover, 
                & .react-datepicker__time-list-item--selected {
                    background: $lighterBrown;
                }
            }
        }
    }

    & .react-datepicker__current-month {
        margin-bottom: 2vh;
        color: $mainColor;
        @extend %font14;
    }

    & .react-datepicker__day {
        width: 14%;
        height: 5vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $mainColor;
    }

    & .react-datepicker__header {
        background: $lighterBrown;
        @extend %font14;

        & .react-datepicker-time__header {
            @extend %font14;
        }
    }

    & .react-datepicker__day--selected, & .react-datepicker__day:hover {
        background: $lighterBrown;
    }

    &--paddingTop {
        padding-top: 20vh;
    }
}

.Footer {
    width: 100vw;
    margin-bottom: 10vh;

    &-social {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        margin-bottom: 8vh;

        & > a {
            margin: 0 7vw;
        }
    }

    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-bottom: 5vh;
        @extend %font14;

        & > &-item:nth-child(-n+2)::after{
            content: '|';
            margin: 0 10px;
        }
    }

    &-mail {
        text-align: center;
    }
}

.Developers {
    padding-top: 7vh;
    padding-bottom: 7vh;
    @extend %baseContentPadding;

    &-title {
        margin-bottom: 11vh;
        @extend %font27;
    }

    &-image {
        width: 100%;
        height: 51vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 5vh;
    }

    &-subtitle {
        margin-bottom: 5vh;
        font-weight: 700;
        @extend %font14;
    }

    &-text {
        line-height: 2;
        @extend %font14;
    }

    &-button {
        margin-top: 5vh;
        display: block;
        width: 25vw;
        text-align: center;
    }
}

.ProjectCharacteristics {
    padding-top: 6vh;
    padding-bottom: 6vh;
    background: $lighterBrown;
    @extend %baseContentPadding;

    &-title {
        font-weight: 700;
        margin-bottom: 6vh;
        @extend %font27;
    }

    &-subtitle {
        margin-bottom: 5vh;
        font-weight: 700;
        @extend %font14;
    }

    &-image {
        width: 100%;
        height: 51vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 7vh;
    }

    &-text {
        line-height: 2;
        margin-bottom: 5vh;
        @extend %font14;
    }

    &-list {
        list-style-position: inside;
        display: flex;
        flex-wrap: wrap;
        line-height: 1.5;
        @extend %font14;

        &-item {
            margin-bottom: 2vh;
            flex-basis: 50%;

            &--noBullet {
                list-style: none;
            }
        }
    }

    &-button {
        width: 40vw;
        display: block;
        margin: 6vh auto 0;
        background: transparent;
        text-align: center;
    }

    &-twoColumns {
        width: 100%;
        display: flex;
        margin-top: 12vh;
    }

    &-touches {
        flex-basis: 50%;

        & .ProjectCharacteristics-list {
            display: block;
        }
    }

    &-security {
        flex-basis: 50%;

        & .ProjectCharacteristics-list {
            display: block;
        }
    }

    &--tower {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        display: none;
        transition: .3s ease;
        overflow: auto;
        z-index: 100;

        &--active {
            opacity: 1;
            display: block;
        }

        & .ProjectCharacteristics-list--left {
            flex-basis: 50%;

            & .ProjectCharacteristics-list-item {
                list-style: inside;
            }
        }

        & .ProjectCharacteristics-list--right {
            flex-basis: 50%;

            & ul {
                list-style: inside;
            }
        }

        &--close {
            position: absolute;
            top: 5vh;
            right: 5vw;
            font-size: 5rem;
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: cover;
            cursor: pointer;
        }
    }
}

.Options {
    width: 100vw;
    padding-top: 7vh;
    position: relative;
    margin-bottom: 5vh;

    &-container {
        @extend %baseContentPadding;
    }

    &-title {
        margin-bottom: 4vh;
        font-weight: 700;
        @extend %font22;
    }

    &-text {
        margin-bottom: 7vh;
        @extend %font14;
    }

    &-selector {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-single {
            flex-basis: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            &-content {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                flex-basis: 65%;
                height: 12vh;
                cursor: pointer;
                transition: .3s ease;
                @extend %font14;

                &:hover, &--active {
                    font-weight: 700;
                    background: $lighterBrown;
                }

                & > p {
                    pointer-events: none;
                }
            }

            &-type {
                margin-bottom: 3vh;
            }
        }
    }

    &-banner {
        width: 100%;
        height: 93vh;
        background-position: center;
        background-size: cover;
        margin-top: 16vh;
    }

    &-characteristics {
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding-top: 10vh;
        padding-bottom: 10vh;
        background: $lighterBrown;
        opacity: 1;
        display: block;
        z-index: 100;
        overflow: auto;
        @extend %baseContentPadding;

        &--hidden {
            opacity: 0;
            display: none;
        }

        &--close {
            position: absolute;
            top: 10vh;
            right: 10vw;
            font-size: 5rem;
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: cover;
            cursor: pointer;
        }

        &-title {
            font-weight: 700;
            text-align: center;
            margin-bottom: 8vh;
            @extend %font27;
        }

        &-render {
            width: 100%;
            height: 50vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10vh;
        }

        &-renderImage {
            flex-basis: 45%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-renderMap {
            flex-basis: 45%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-list {
            width: 100%;

            &-text {
                text-align: center;
                margin-bottom: 1vh;
                @extend %font18;

                &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: $mainColor;
                    margin-right: 1vw;
                    display: inline-block;
                    margin-bottom: 4px;
                }
            }
        }

        &-button {
            display: block;
            width: 55%;
            margin: 5vh auto 0;
            background: #5b5854;
            border: 1px solid #eee;
            text-align: center;
            color: #fff;

            &:hover {
                background: #eee;
                color: #5b5854;
            }
        }
    }
}

.GalleryOptions {
    padding: 8vh 0;

    &-container {
        @extend %baseContentPadding;
    }

    &-title {
        font-weight: 700;
        margin-bottom: 5vh;
       @extend %font27; 
    }

    &-text {
        line-height: 2;
        margin-bottom: 10vh;
        @extend %font14;
    }

    &-slideshow {
        width: 100%;

        &-options {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &-button {
            flex-basis: 25%;

            &--selected {
                color: #fff;
                background: $mainColor;
            }
        }
    }

    &-button {
        width: 40vw;
        display: block;
        margin: auto;
    }
}

.LocationIntro {
    padding-top: 6vh;
    padding-bottom: 6vh;
    @extend %baseContentPadding;

    &-title {
        font-weight: 700;
        margin-bottom: 6vh;
        @extend %font27;
    }

    &-text {
        line-height: 2;
        @extend %font14;
    }
}

.PrivacyText {
    @extend %baseContentPadding;
    padding-top: 27vh;
    padding-bottom: 9vh;
    margin-bottom: 5vh;
    background: $lighterBrown;

    &-title {
        text-align: center;
        margin-bottom: 6vh;
        text-transform: uppercase;
        @extend %font27;
    }

    &-text {
        line-height: 1.5;
        margin-bottom: 3vh;
        @extend %font18;
    }

    &-subtitle {
        margin-bottom: 3vh;
        text-transform: uppercase;
        @extend %font22;
    }

    &-list {
        margin-bottom: 3vh;
        list-style-position: inside;
        list-style-type: upper-roman;
        line-height: 1.5;
        @extend %font18;

        &--custom {
            list-style-type: decimal;
        }
    }
}

.FaqsText {
    @extend %baseContentPadding;
    padding-top: 27vh;
    padding-bottom: 9vh;
    margin-bottom: 5vh;
    background: $lighterBrown;

    &-title {
        text-align: center;
        margin-bottom: 6vh;
        text-transform: uppercase;
        @extend %font27;
    }

    &-question {
        margin-bottom: 3vh;
        text-transform: uppercase;
        font-weight: 700;
        @extend %font22;
    }

    &-answer {
        line-height: 1.5;
        margin-bottom: 3vh;
        @extend %font18;
    }
}

.Error {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %baseContentPadding;

    & h1 {
        font-size: 40rem;
    }

    & h2 {
        font-size: 3.5rem;
        margin-bottom: 5vh;
    }
}

.ContactView {
    width: 100vw;
    @extend %baseContentPadding;
}

@import './responsive';