%baseContentPadding {
  @media screen and (max-width: 1025px){
    padding: 0 3vw;
  }
}

.Menu {
  @media screen and (max-width: 1001px){
    height: 12vh;

    &-nav {
      display: none;
    }

    &-left {
      flex-basis: 50%;

      & > img {
        @media screen and (max-width: 769px){
          max-width: 60%;
        }

        @media screen and (max-width: 426px){
          max-width: 70%;
        }
      }
    }

    &-right {
      display: none;
  
      &--responsive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        flex-basis: 50%;
        font-size: 6rem;
        
        @media screen and (max-width: 426px){
          font-size: 4rem;
        }

        &-item {
          margin: 0 3vw;
          font-weight: 300;
          flex-basis: 30%;
          
          & svg {
            pointer-events: none;
          }
        }

        &-envelope {
          max-width: 100%;
          height: 50px;
          background-position: center;
          background-size: contain;
          pointer-events: none;
          background-repeat: no-repeat;
          @media screen and (max-width: 426px){
            height: 35px;
          }
        }

        &-menu {
          max-width: 100%;
          height: 48px;
          background-position: center;
          pointer-events: none;
          background-repeat: no-repeat;
          background-size: contain;
          @media screen and (max-width: 426px){
            height: 35px;
          }
        }
      }
    }
  }
}


.MenuResponsive {
  position: fixed;
  top: -200vh;
  left: 0;
  width: 100vw;
  display: block;
  font-weight: 300;
  background: $lighterBrown;
  padding-bottom: 3vh;
  transition: .3s ease;
  height: 88vh;
  overflow-y: scroll;
  z-index: 99;
  @extend %font27;

  &--open {
    top: 12vh;
  }

  &-option {
    background: $responsiveOptionShade;
    margin-bottom: 3vh;
    @extend %baseContentPadding;
    padding-bottom: 3vh;
    padding-top: 3vh;
    @extend %font33;

    .MenuResponsive &--subtitle {
      background: transparent;
      padding-bottom: 1vh;
      padding-top: 1vh;
      @extend %font27;
    }
  }

  &-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-single {
      margin: 0 2vw;
    }
  }
}

.Location{
  &-top {
    @media screen and (max-width: 1025px){
      padding-bottom: 12vh;
    }

    @media screen and (max-width: 769px){
      flex-wrap: wrap;
    }

    &-left {
      @media screen and (max-width: 769px){
        flex-basis: 100%;
        margin-bottom: 3vh;
      }
    }

    &-right {
      @media screen and (max-width: 769px){
        flex-basis: 100%;
      }
    }

    &-title {
      @media screen and (max-width: 769px){
        text-align: center;
        padding-right: 0;
      }
    }

    &-text {
      @media screen and (max-width: 769px){
        text-align: left;
        padding-left: 0;
      }
    }
  }

  &-bottom {
    &-button {
      width: 70vw;

      @media screen and (max-width: 426px){
        width: 90vw;
      }
    }
  }
}

.Towers {
  &-title {
    @media screen and (max-width: 769px){
      text-align: center;
    }
  }

  &-show {
    @media screen and (max-width: 769px){
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.TowersSingle {
  @media screen and (max-width: 1025px){
    flex-basis: 48%;
  }

  @media screen and (max-width: 769px){
    flex-basis: 60%;
    margin-bottom: 5vh;
  }

  @media screen and (max-width: 426px){
    flex-basis: 90%;
  }
}

.SlideShow {
  @media screen and (max-width: 1025px){
    &-single {
      flex-basis: 70vw;
      min-width: 70%;
    }
  }
}

.Characteristics {
  @media screen and (max-width: 769px){
    flex-wrap: wrap;
    justify-content: center;
  }

  &-title {
    @media screen and (max-width: 769px){
      text-align: center;
    }
  }

  & > div {
    @media screen and (max-width: 1025px){
      flex-basis: 48%;
    }

    @media screen and (max-width: 769px){
      flex-basis: 60%;
      margin-bottom: 5vh;
    }

    @media screen and (max-width: 426px){
      flex-basis: 90%;
    }
  }
}

.Gallery {
  @media screen and (max-width: 1025px){
    &-container {
      flex-wrap: wrap;
      justify-content: center;
      
      & .GallerySingle {
        flex-basis: 90%;
        margin-bottom: 7vh;
      }
    }
  }
}

.GalleryOptions {
  &-slideshow {
    &-options {
      flex-wrap: wrap;
    }

    &-button {
      @media screen and (max-width: 769px){
        flex-basis: 30%;
      }

      @media screen and (max-width: 425px){
        flex-basis: 95%;
        margin-bottom: 1vh;
      }
    }
  }

  &-button {
    width: 90%;
  }
}

.Instagram {
  &-container {
    & > :nth-child(n+5){
      @media screen and (max-width: 769px){
        display: none;
      }
    }
  }

  @media screen and (max-width: 1025px){
    &-single {
      flex-basis: 48%;
    }
  }

  @media screen and (max-width: 769px){
    &-single {
      flex-basis: 80%;
    }
  }
}

.Options {
  @media screen and (max-width: 1025px){
    &-characteristics {
      padding-top: 10vh;
      padding-bottom: 10vh;
    }
  }

  &-selector {
    &-single {
      @media screen and (max-width: 426px){
        flex-basis: 50%;
      }
    }
  }

  &-characteristics{
    &--close {
      top: 3vh;
      right: 5vw;
  
      @media screen and (max-width: 426px){
        width: 27px;
        height: 26px;
      }
    }

    &-render {
      @media screen and (max-width: 769px){
        flex-wrap: wrap;
        height: 70vh;
      }
    }

    &-renderImage {
      @media screen and (max-width: 769px){
        flex-basis: 80%;
        height: 45%;
        background-size: contain;
      }
    }

    &-renderMap {
      @media screen and (max-width: 769px){
        flex-basis: 80%;
        height: 45%;
        background-size: contain;
      }
    }
  }
}

.Developers {
  @media screen and (max-width: 1025px){
    padding-top: 7vh;
    padding-bottom: 7vh;
  }

  &-button {
    @media screen and (max-width: 769px){
      width: 50vw;
    }

    @media screen and (max-width: 426px){
      width: 100%;
    }
  }
}

.ProjectCharacteristics {
  @media screen and (max-width: 1025px){
    padding-top: 7vh;
    padding-bottom: 7vh;
  }

  &-twoColumns {
    @media screen and (max-width: 769px){
      flex-wrap: wrap;
    }
  }

  &-touches {
    @media screen and (max-width: 769px){
      flex-basis: 100%;
    }
  }

  &-security {
    @media screen and (max-width: 769px){
      flex-basis: 100%;
    }
  }

  &-button {
    @media screen and (max-width: 425px){
      width: 100%;
    }
  }
}

.LocationIntro {
  @media screen and (max-width: 1025px){
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
}

.Amenities {
  &-title {
    @media screen and (max-width: 769px){
      text-align: center;
    }
  }

  &-list {
    @media screen and (max-width: 1024px){
      justify-content: center;
    }

    @media screen and (max-width: 480px){
      justify-content: flex-start;
    }

    &-group {
      @media screen and (max-width: 1024px){
        flex-basis: 60%;
        margin-bottom: 0;
      }

      @media screen and (max-width: 480px){
        flex-basis: 100%;
      }
    }
    &-option {
      @media screen and (max-width: 426px){
        flex-basis: 50%;
      }
    }
  }

  &-button {
    @media screen and (max-width: 426px){
      width: 90vw;
    }
  }
}

.Contact {
  @media screen and (max-width: 1024px){
    padding-top: 20vh;
  }

  &-form {
    &-group {
      @media screen and (max-width: 426px){
        flex-wrap: wrap;
      }

      & > :first-child {
        @media screen and (max-width: 426px){
          margin-bottom: 3vh;
        }
      }
    }

    &-submit {
      @media screen and (max-width: 426px){
        flex-wrap: wrap;
      }

      & > button {
        @media screen and (max-width: 426px){
          flex-basis: 100%;
        }
      }

      & > :first-child {
        @media screen and (max-width: 426px){
          margin-bottom: 3vh;
        }
      }
    }

    &-schedule {
      @media screen and (max-width: 426px){
        flex-basis: 100%;
        margin-bottom: 3vh;
      }
    }
  }

  &-input {
    &-half {
      @media screen and (max-width: 426px){
        flex-basis: 100%;
      }
    }
  }
}

.Footer {
  &-list {
    @media screen and (max-width: 426px){
      flex-wrap: wrap;
    }

    &-item {
      @media screen and (max-width: 426px){
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 3vh;
      }

      &:after {
        @media screen and (max-width: 426px){
          display: none;
        }
      }
    }
  }
}

.PrivacyText {
  @media screen and (max-width: 1025px){
    padding: 22vh 3vw 17vh;
  }
}

.FaqsText {
  @media screen and (max-width: 1025px){
    padding: 22vh 3vw 17vh;
  }
}

.Error {
  & h1 {
    @media screen and (max-width: 426px){
      font-size: 22rem;
    }

    @media screen and (max-width: 380px){
      font-size: 18rem;
    }
  }

  & h2 {
    @media screen and (max-width: 426px){
      font-size: 2.5rem;
      text-align: center;
    }
  }
}